<div class="container main-container">
    <h2><i class="fa fa-glass" aria-hidden="true"></i>Bar</h2>
    
    <div>
        Unidade Manual: {{apiConfigManual.unidadeId}}
    </div>
    <div>
        Token Manual: {{apiConfigManual.unidadeToken}}
    </div>
    <div>
        Unidade Injected: {{apiConfig.unidadeId}}
    </div>
    <div>
        Token Injected: {{apiConfig.unidadeToken}}
    </div>
    <div>
        Bebidas 1: {{barBebida1}}
    </div>
    <div>
        Dados Unidade: {{dadosUnidade}}
    </div>
</div>