<div class="container main-container">
    <h2><i class="fa fa-glass" aria-hidden="true"></i>Bar</h2>
    
    <div>
        Unidade Manual: {{apiConfigManual.unidadeId}}
    </div>
    <div>
        Token Manual: {{apiConfigManual.unidadeToken}}
    </div>
    <div>
        Unidade Injected: {{apiConfig.unidadeId}}
    </div>
    <div>
        Token Injected: {{apiConfig.unidadeToken}}
    </div>
    <div>
        Bebidas 1: {{barBebida1}}
    </div>
    <div>
        Bebidas 2: {{barBebida2}}
    </div>
    <div>
        Dados Unidade: {{dadosUnidade}}
    </div>
    <h2>Progress: {{progress}}%</h2>
    <p *ngIf="progress >= 100">Done processing {{label}} of Angular zone!</p>

    <button class="btn btn-success" (click)="processWithinAngularZone()">Process within Angular zone</button> &nbsp;
    <button class="btn btn-danger" (click)="processOutsideOfAngularZone()">Process outside of Angular zone</button>
</div>