<div class="container main-container">

    <h1>Lista de Produtos</h1>
    <hr>

    <p>
        <a class="btn btn-info" [routerLink]="['/produtos/adicionar-novo']">Novo Produto</a>
    </p>

    <table class="table table-hover">
        <thead class="thead-dark">
            <tr>
                <th>

                </th>
                <th>
                    Nome
                </th>
                <th>
                    Fornecedor
                </th>
                <th>
                    Valor
                </th>
                <th>
                    Ativo?
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let produto of produtos">
                <td>
                    <img src="{{imagens}}{{ produto.imagem }}" style="width: 70px; height: 100px">
                </td>
                <td>
                    {{ produto.nome }}
                </td>
                <td>
                    {{ produto.nomeFornecedor }}
                </td>
                <td>
                    {{ produto.valor}}
                </td>
                <td>
                    <input [checked]="produto.ativo" class="check-box" disabled="disabled" type="checkbox">
                </td>
                <td class="text-right">
                    <a class="btn btn-warning" [routerLink]="['/produtos/detalhes',produto.id]">
                        <span class="fa fa-search"></span>
                    </a>&nbsp;
                    <a class="btn btn-info" [routerLink]="['/produtos/editar',produto.id]">
                        <span class="fa fa-pencil-alt"></span>
                    </a>&nbsp;
                    <a class="btn btn-danger" [routerLink]="['/produtos/excluir',produto.id]">
                        <span class="fa fa-trash"></span>
                    </a>
                </td>
            </tr>
        </tbody>
    </table>
</div>