<div class="container main-container">
    <h4>Excluir {{ produto.nome }} </h4>
    <br>
    <h5>Você tem certeza disso?</h5>

    <div class="row">
        <div class="col-md-4">
            <img src="{{ produto.imagem }}" style="width: 300px; height: 428px">
        </div>
        <div class="col-md-6">
            <dl>
                <dt>
                    Fornecedor
                </dt>
                <dd>
                    {{ produto.nomeFornecedor }}
                </dd>
                <dt>
                    Nome
                </dt>
                <dd>
                    {{ produto.nome }}
                </dd>
                <dt>
                    Descrição
                </dt>
                <dd>
                    {{ produto.descricao }}
                </dd>
                <dt>
                    Valor
                </dt>
                <dd>
                    {{ produto.valor | currencyBrazil }}
                </dd>
                <dt>
                    DataCadastro
                </dt>
                <dd>
                    {{ produto.dataCadastro | date:'dd/MM/yyyy' }}
                </dd>
                <dt>
                    Ativo?
                </dt>
                <dd>
                    <input [checked]="produto.ativo" class="check-box" disabled="disabled" type="checkbox">
                </dd>
            </dl>

            <div>
                <a class="btn btn-warning" [routerLink]="['/produtos/editar',produto.id]">Editar</a>&nbsp;
                <a class="btn btn-info" href="javascript:window.history.back();">Voltar</a>
            </div>
        </div>
    </div>

</div>